$xsmall: "only screen and (min-width: 360px)";
$gutenbergsmall: "only screen and (min-width: 600px)";
$small: "only screen and (min-width: 640px)";
$medium: "only screen and (min-width: 768px)";
$gutenbergmedium: "only screen and (min-width: 782px)";
$large: "only screen and (min-width: 1024px)";
$xlarge: "only screen and (min-width: 1200px)";
$xxlarge: "only screen and (min-width: 1440px)";
$xxxlarge: "only screen and (min-width: 1600px)";
$fullhd: "only screen and (min-width: 1920px)";
$wqhd: "only screen and (min-width: 2560px)";

$portrait: "orientation: portrait";
$landscape: "orientation: landscape";

$darkblue: #17253e;
$buttonhover: #d9e8ed;
$submenudarkblue: #3b4558;
$submenugray: #bcc0c6;
$lightgray: #f5f5f7;
$buttonhover: #d9e8ed;

$cellwidth: 100px;
$cellheight: 100px;
$lettersheight: 50px;
$numberswidth: 50px;
