.chess-board {
  display: grid;
  grid-template-columns: 50px min-content 50px;
  grid-template-rows: 50px auto 50px;

  .chess-board__numbers--left,
  .chess-board__numbers--right {
    grid-row: 2;
    display: flex;
    flex-direction: column;

    .chess-board__number {
      width: $numberswidth;
      height: $cellheight;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  .chess-board__numbers--left {
    grid-column: 1;
  }

  .chess-board__numbers--right {
    grid-column: 3;
  }

  .chess-board__letters--top,
  .chess-board__letters--bottom {
    grid-column: 2;
    display: flex;

    .chess-board__letter {
      width: $cellwidth;
      height: $lettersheight;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  .chess-board__letters--top {
    grid-row: 1;
  }

  .chess-board__letters--bottom {
    grid-row: 3;
  }

  .game__row {
    display: flex;

    .game__column {
      width: $cellwidth;
      height: $cellheight;

      &.black {
        background-color: #000;
        transition: 0.2s;

        &.possibleMove {
          background-color: rgb(3, 70, 18);
        }
      }

      &.white {
        background-color: #fff;
        transition: 0.2s;

        &.possibleMove {
          background-color: rgb(6, 165, 40);
        }
      }
    }
  }

  .chess-board__game {
    grid-row: 2;
    grid-column: 2;
    justify-items: center;

    .game-area {
      border: 4px solid #000;
      justify-self: center;
      position: relative;

      @mixin piece-details {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
      }

      &__rook-white {
        @include piece-details;
        background: url("../images/rook-white.png") no-repeat center center;
      }

      &__knight-white {
        @include piece-details;
        background: url("../images/knight-white.png") no-repeat center center;
      }

      &__bishop-white {
        @include piece-details;
        background: url("../images/bishop-white.png") no-repeat center center;
      }

      .piece {
        transition: 0.3s;
        z-index: 100;

        &.active {
          transform: scale(1.3);
          transition: 0.3s;
          z-index: 200;
        }
      }
    }
  }
}
